@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}
∂
body {
    background: #fff;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.wrapper {
    width: 1280px;
    margin: 50px auto;
}

header {
    position: relative;
}

header .logo {
    font-weight: 600;
    font-size: 20px;
}

header ul.nav {
    float: right;
    list-style: none;
}
header ul.nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;
    
}
header ul.nav li:hover {
    opacity: 0.5;
}

header .presentation {
    margin: 50px 0;
    background: url('./img/bg.jpg') no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #bcbcbc;
    position: relative;
    padding-bottom: 20px;
}
header .presentation::after {
    content: 'Blueberry Online Shop';
    position: absolute;
    bottom: 10%;
    left: 50%;
    margin-left: -320px;
    color:#fff;
    font-size: 60px;
    font-weight: 600;     
}

header .shop-cart-btn {
    float: right;
    cursor: pointer;
    transition: color, transform 500ms ease;
}
header .shop-cart-btn:hover,
header .shop-cart-btn.active {
    color: #dc3d3d;
    transform: scale(1.5);
}

header .shop-cart {
    position: absolute;
    top: 30;
    right: 0;
    width: 400px;
    background: #fafafa;
    border: 1px solid #ccc;
    padding: 3px;
    -webkit-box-shadow: 4px 5px 15px -7px #606060;
    box-shadow: 4px 5px 15px -7px #606060;
    z-index: 1000;
}

header .shop-cart .product {
    width: 100%;
}
header .shop-cart .product img{
    width: 70px;
    float: left;
    margin-right: 20px;

}
header .shop-cart .product h2{
    font-style: 20px;
    margin-bottom: 10px;
}
header .shop-cart .product span{
    color: #797979;
    font-weight: 600;
}

main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
main .product {
    width: 30%;
    margin-bottom: 50px;
    background: #f5f5f5;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px 10px 0 0;
}

main .product img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 500ms ease;
}

main .product img:hover {
    transform: scale(1.05);
}
main h2, main p, main span {
    margin: 10px 20px;
    color: #333;
}
main span {
    color: #5fa36a;
    font-weight: 600;
    font-size: 20px;
}

main .add-to-cart {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #ca5252;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    line-height: 35px;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;
}

main .add-to-cart:hover { 
    transform: scale(1.1) translateY(-2px);
}

footer {
    text-align: center;
    margin-top: 100px;
}

